body {
    margin: 0;
    font-family: GrowwSans, NotoSans, system-ui;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

#dash_text {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;
    color: blueviolet;
    /* font-size: 20px; */
}

#dashboard {
    display: flex;
    flex-direction: column;
}

.box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.box_in {
    background-color: #be4242;
    border: 1px solid #ddd;
    padding: 0px;
    text-align: center;
    height: 100px;
}



.column {
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
}

#iframe-container{
    margin: none;
}

#iframe-container h1{
    margin-left: 20px;
}

iframe {
    border: none;
}

.container {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 400px;
}

.container h1 {
    margin: 10px;
    color: #333;
}

#filter-container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
}

.filter-container-selectors {
    display: flex;
}

label {
    display: block;
    margin: 5px;
}

.container input, select {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container button:hover {
    background-color: #2980b9;
}

#stock-list {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#stock-list p {
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    margin: 0px;
  
  }
  
  body::after{
    display: flex;
    justify-content: center;
  }
  
  .customize {
    display: flex;
    justify-content: space-between;
    /* background: #0a0a23; */
    background: white;
    height: 50px;
    margin-inline: 20px;
  }
  
  .customize ul {
    display: flex;
    list-style-type: none;
    margin-top: 8px;
    padding-left: 10px;
  }
  
  ul li {
    text-decoration: none;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin-inline: 5px;
  }
  
  .custom-select {
    border: none;
  }
  
  #mode1Content {
    display: block;
  }
  
  #mode2Content {
    display: none;
  }
  
  #mode3Content {
    display: none;
  }
  
  .custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none;
    /*this hides the original element: */
  }
  
  .select-selected {
    background: white;
    color: #0a0a23;
    font-size: 12px;
    margin-inline: 10px;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #0a0a23 transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #0a0a23 transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,
  .select-selected {
    color: #0a0a23;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: rgba(0, 0, 0, 0.1) transparent rgba(0, 0, 0, 0.2) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    /* background: #0a0a23; */
    color: #0a0a23;
    background: white;
    font-size: 12px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 200px; 
    overflow-y: auto;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  #select_multiple_stocks {
    display: none;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center;
    margin-inline-start: 10px;
    margin-bottom: 5px;
  }
  
  .graph {
    padding: 20px;
  }
  
  .chart-container {
    background-color: #656464;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    min-height: 400px;
  }

#dashboard h1{
    margin-left: 20px;
}