<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>

<body>
    <h2>Change password</h2>
    <p>Please enter the OTP sent to your email to change your password</p>
    <div class="valid" id="valid">
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    </div>
    <form method="post">
        <div>
            <label for="otp">Enter OTP:</label>
            <input type="text" id="otp" name="otp" required>
        </div>
        <button type="submit">Verify OTP</button>
    </form>
</body>

</html>