<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Body Background Image</title>
</head>

<body>
    <div class="Intro top">
        <div class="logo ">
            <h1><a href="/about">&infin; Infty</a></h1>
        </div>
        <div class="somethingmore">
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
    </div>
    <div class="login-container">
        <h2>&#128274; Login</h2>
        <div class="valid" id="valid">
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
        </div>
        <form action="/login" method="post">
            <div class="form-group ">
                <span>&#128100;</span>
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <span>&#128273;</span>
                <input type="password" name="password" placeholder="Password" required>
            </div>

            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="additional-links">
            <ul>
                <li><a href="/register">Create Account</a></li>
                <li><a href="/forgot-password">Forgot Password?</a></li>
            </ul>
        </div>
    </div>
</body>

</html>