<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="login-container">
        <h2>&#128274; Register</h2>
        <form id="registrationForm" method="post" action="/new-password">

            <div class="form-group">
                <span>&#128273;</span>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <div class="availability-message" id="correct_pass"></div>

            <div class="form-group">
                <span>&#128273;</span>
                <input type="password" name="conf_password" id="conf_password" placeholder="Confirm Password" required>
            </div>
            <div class="availability-message" id="confirmed_password_message"></div>

            <div class="form-group">
                <button type="submit" id="submitButton">Register</button>
            </div>

        </form>

    </div>

    <script>

        var isAvailable = {
            password1: true,
            password2: true
        };

        function updateSubmitButton() {
            var submitButton = document.getElementById('submitButton');
            if (isAvailable.password1 && isAvailable.password2) {
                submitButton.disabled = false; // Enable submit button
            } else {
                submitButton.disabled = true; // Disable submit button
            }
        }

        // Function to check password availability
        document.getElementById('password').addEventListener('input', function () {
            var PasswordInput = this.value;
            document.getElementById('conf_password').value = '';
            var availabilityMessage1 = document.getElementById('correct_pass');
            var availabilityMessage2 = document.getElementById('confirmed_password_message')

            // Make fetch request to check password availability
            fetch('/check-password1', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'password=' + PasswordInput
            })
                .then(response => response.json())
                .then(data => {
                    if (data.available) {
                        availabilityMessage1.innerHTML = '';
                        isAvailable.password1 = true; // Enable submit button
                    } else {
                        availabilityMessage1.innerHTML = '<span style="color:black;">invalid password</span>';;
                        isAvailable.password1 = false; // Enable submit button
                    }
                    availabilityMessage2.innerHTML = '';
                    updateSubmitButton();
                })
        });

        // Function to check confirmed password correctness
        document.getElementById('conf_password').addEventListener('input', function () {
            var confPasswordInput = this.value;
            var PasswordInput = document.getElementById('password').value;
            var availabilityMessage2 = document.getElementById('confirmed_password_message')

            if (confPasswordInput == PasswordInput) {
                availabilityMessage2.innerHTML = '';
                isAvailable.password2 = true;
            }
            else {
                availabilityMessage2.innerHTML = '<span style="color:black;">passwords not match</span>';;
                isAvailable.password2 = false;
            }
            updateSubmitButton();
        });
    </script>
</body>

</html>