<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>&#128274; Register</h2>
        <form action="/register" method="post">
            <div class="form-group">
                <span>&#128100;</span>
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <span>&#128222;</span>
                <input type="text" name="phone_number" placeholder="Phone Number" required>
            </div>
            <div class="form-group">
                <span>&#128273;</span>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <span>&#128273;</span>
                <input type="password" name="conf_password" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
        </form>
        <p >Already have an account? <a color="white" href="/">Sign in</a></p>
    </div>
</body>
</html>
